.hero
  margin: 3rem 0 4rem
  text-align: center
  text-transform: lowercase

.hero-title
  font-size: 2rem
  line-height: 1.25

.hero-subtitle
  color: blend($colors.text.secondary, $colors.canvas.light)
